nav .navbar-brand {
  font-size: xx-large;
}

main .form-control {
  display: inline-block;
  width: auto;
}

main {
  overflow-x: auto;
  text-align: center;
}

main table {
  text-align: left;
}

main tfoot {
  font-weight: bold;
}

.coverAll {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.coverAll .forSticky {
  flex-grow: 1;
}

footer {
  margin-bottom: 30px;
}
