{% extends "layout.html" %}

{% block main %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>Symbol</th>
      <th>Shares</th>
      <th>Price</th>
      <th>Remarks</th>
      <th>Transaction time</th>
    </tr>
  </thead>
  <tbody>
    {% for item in hist %}
    <tr>
      <td>{{ item.symbol }}</td>
      <td>{{ item.shares }}</td>
      <td>{{ item.price | usd }}</td>
      <td>{{ item.event }}</td>
      <td>{{ item.transacted }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock main %}
