{% extends "layout.html" %}

{% block main %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>Symbol</th>
      <th>Name</th>
      <th>Shares</th>
      <th>Price</th>
      <th>Total</th>
    </tr>
  </thead>

  <tbody>
    {% if info %}
      {% for i in info %}
      <tr>
        <td>{{ i.symbol }}</td>
        <td>{{ i.name }}</td>
        <td>{{ i.shares }}</td>
        <td>{{ i.price | usd }}</td>
        <td>{{ (i.shares * i.price) | usd }}</td>
      </tr>
      {% endfor %}
    {% endif %}
    <tr>
      <td colspan="4">CASH</td>
      <td>{{ cash_owned | usd }}</td>
    </tr>
  </tbody>

  <tfoot>
    <tr>
      <td colspan="4"></td>
      <td>{{ total_owned | usd }}</td>
    </tr>
  </tfoot>
</table>
{% endblock main %}
