{% extends "layout.html" %}

{% block main %}
<form action="{{ url_for('users.register') }}" method="post">
  {{ form.hidden_tag() }}
  
  <div class="mb-3">
    {% if form.username.errors %}
      {{ form.username(class="form-control is-invalid", autofocus="true", autocomplete="off", placeholder="Username") }}
      <div class="invalid-feedback">
        {% for error in form.username.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
    {% else %}
      {{ form.username(class="form-control", autofocus="true", autocomplete="off", placeholder="Username") }}
    {% endif %}
  </div>

  <div class="mb-3">
    {% if form.password.errors %}
      {{ form.password(class="form-control is-invalid", autofocus="true", autocomplete="off", placeholder="Password") }}
      <div class="invalid-feedback">
        {% for error in form.password.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
    {% else %}
      {{ form.password(class="form-control", autofocus="true", autocomplete="off", placeholder="Password") }}
    {% endif %}
  </div>

  <div class="mb-3">
    {% if form.password_confirm.errors %}
      {{ form.password_confirm(class="form-control is-invalid", autofocus="true", autocomplete="off", placeholder="Confirm Password") }}
      <div class="invalid-feedback">
        {% for error in form.password_confirm.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
    {% else %}
      {{ form.password_confirm(class="form-control", autofocus="true", autocomplete="off", placeholder="Confirm Password") }}
    {% endif %}
  </div>

  {{ form.submit(class="btn btn-primary")}}
</form>
{% endblock main %}
