{% extends "layout.html" %}

{% block main %}
<form action="{{ url_for('stocks.sell') }}" method="post">
  {{ form.hidden_tag() }}

  <div class="mb-3">
    {% if form.symbol.errors %}
      {{ form.symbol(class="form-control is-invalid") }}
      <div class="invalid-feedback">
        {% for error in form.symbol.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
    {% else %}
      {{ form.symbol(class="form-control") }}
    {% endif %}
  </div>

  <div class="mb-3">
    {% if form.shares.errors %}
      {{ form.shares(class="form-control is-invalid", placeholder="Shares") }}
      <div class="invalid-feedback">
        {% for error in form.shares.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
    {% else %}
      {{ form.shares(class="form-control", placeholder="Shares") }}
    {% endif %}
  </div>

  {{ form.submit(class="btn btn-primary")}}

</form>

{% endblock main %}
